
<div class="header">
    <a href="/"><img src="/images/weatherly.svg" width="200px"></a>
    <nav class="navbar">
        <ul>
            <li><a href="/" class="navbar-item">Home</a></li>
            <!--
            <li><a>Contact</a></li>
            <li><a>About</a></li>
            -->
        </ul>
    </nav>
</div>